# Ma'lumotlar bazasi
DB_HOST=localhost
DB_NAME=vip_control_bot
DB_USER=bot_user
DB_PASSWORD=your_secure_password_here

# Admin paroli
ADMIN_PASSWORD=Spectr@2008

# Bot token
BOT_TOKEN=8542494278:AAELsdOoG0msjStbJnc9gD-8qn2naxX34rw
